*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
  }
  
  
  /* gives the main body section all the same styling to keep nice uniform look */
  body {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }
  
  /* did not want the scores to be formatted the same as the rest of the page so used fixed positioning for this*/
  #scores {
    position: fixed; 
    top: 25%;
    left: 25%;
   }
   /* did not want timer to be formatted the same, used fixed position for this */
   #timer {
     position: fixed;
     top: 25%;
     right: 25%;
   }
   /* wanted this to display differently to stand out */
   #results {
    position: fixed;
    bottom: 25%;
   }
  
   /* gives formatting for the main container of the page where most data is displayed */
  .container {
    font-size: 30px;
    width: 60%;
    max-width: 80%;
    background-color: white;
    border-radius: 90px;
    padding: 10px;
    text-align: center;
    border: 1px solid black;
  }
  
  .btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
  }
  
  /* wanted all buttons on the page to appear uniform */
  .btn {
    border: 3px solid black;
    background-color: blue;
    color: white;
    border-radius: 25px;
    display: inline-block;
    font-size: 22px;
    line-height: 22px;
    margin: 16px 16px 16px 20px;
    padding: 14px 34px;
    text-align: center;
    cursor: pointer;
  }

  a {
    color: white;
  }
  .scores a {
    color: black;
  }
  /* wanted a minor change  in appearance when the users cursor travbeled over any button, gave a nice hot pink outline*/
  .btn:hover {
    border-color: hotpink;
  }
  

  
  .start-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
  }
  
  .controls {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* this class is used throughout hte page to hide various elemtns from the display */
  .hide {
    display: none;
  }
  
  /* wanted the list to be left justified with the users data in the center for high scores leaderboard page */
  .initials {
    text-align: left;
  }